*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

li{
  list-style-type: none;
}
.wrapper{
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}